@model IEnumerable<Texter.Models.Contact>

@{
    ViewData["Title"] = "Product - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
            $(".show-txt-form").click(function() {
		        $(this).siblings(".text-form").toggle();
		    });
		});
	</script>
</head>
<body>
    @if(User.Identity.IsAuthenticated)
    {
    <h2>@User.Identity.Name's Adress Book</h2>

    @Html.ActionLink("Create a new contact", "Create", "Contact")

      @foreach (var contact in Model)
        {
            if (contact.User.UserName == User.Identity.Name)
            {
               <div class="card-deck">
                  <div class="card">
                    <div class="card-block">
                      <h4 class="card-title">@contact.ContactName</h4>
                      <p>@contact.ContactNumber</p>

    			        <button class="show-txt-form">Write New Message</button>
    			        <div class="text-form">
                            @Html.Partial("SendMessage", new Texter.Models.Message(contact.ContactNumber))
			            </div>
                    </div>
                  </div>
                </div>
            } 
       }
    } else {

    <h1>Please Register or Log In to create an address book</h1>

      <p> @Html.ActionLink("Log In", "Login", "Account")</p>
      <p> @Html.ActionLink("Register", "Register", "Account")</p>
    }

</body>

