@model IEnumerable<Texter.Models.Contact>

@{
    ViewData["Title"] = "Product - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script>
		$(document).ready(function() {

		var groupTextString = "";
		
            $(".show-txt-form").click(function() {
		        $(this).siblings(".text-form").toggle();
		    });

		    $(".number").click(function(){
		        if (this.checked){
		            groupTextString += this.value +", ";
		            $("#group-text").text(groupTextString);
		             $("#to-list").val(groupTextString);
		              
                      $("#group-msg-form").show()
		          
		        } else {
		            var re = new RegExp(this.value + ", ");
		            groupTextString = groupTextString.replace(re, "");
		            $("#group-text").text(groupTextString);
                    $("#to-list").val(groupTextString);
		              if (groupTextString.length == 0)
                        {
                            $("#group-msg-form").hide()
                        }
		        }
            });
		});
	</script>
</head>
<body>
    @if(User.Identity.IsAuthenticated)
    {
    <h2>@User.Identity.Name's Address Book</h2>

    @Html.ActionLink("Create a new contact", "Create", "Contact", null, new {@class = "btn btn-info add-contact-btn"})
    <div class="card" id="group-msg-form">
		<div class="card-block">
			<label>Recipient(s): </label>
        	<p id="group-text">/p>
        	<div>
        		@using (Html.BeginForm("SendGroupMessage", "Home", FormMethod.Post))
        		{
        		    <input id="to-list" type="hidden" name="to" value=""/>
                    <input type="hidden" name="from" value="2062078035"/>
                    <textarea name="body" class="form-control"></textarea>
                    <input type="submit" class="btn btn-info float-right send-group-button" value="Send Group Message" />
				    <br />
        		}
    	    </div>
		</div>
	</div>
 
      @foreach (var contact in Model)
        {
            if (contact.User.UserName == User.Identity.Name)
            {
             
                  <div class="card person-card">
                    <div class="card-block ">
				 
                      <h4 class="card-title">@Html.ActionLink(@contact.ContactName, "Details", "Contact", new {contactId = @contact.ContactId }) <span class="small">@contact.ContactNumber</span></h4>

				    <span class="show-txt-form">
                         <button class="btn btn-success float-right">Send a Message</button>
                      </span>
                      <p>
					
    					
    						<input class="number" type="checkbox" name="group-text-checkbox" value="@contact.ContactNumber"/> Add to Group Text
    				
				        </p>
                        <div class="text-form">
                            @Html.Partial("SendMessage", new Texter.Models.Message(contact.ContactNumber))
			            </div>
                    </div>
                  </div>
                
           } 
       }
    } 
		
	@if(!User.Identity.IsAuthenticated) 
	{

    <h1>Please Register or Log In to create an address book</h1>

      <p> @Html.ActionLink("Log In", "Login", "Account")</p>
      <p> @Html.ActionLink("Register", "Register", "Account")</p>
    }
		
       
</body>

